html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: visible;
    min-height: 100%;
    position: relative
}

#header {
    border: 1px solid white;
    padding: 20px;
    flex: 0 0 auto;
    display: flex;
    justify-content: flex-end;
}

#sign-in {
    display: flex;
    flex: 1 0 auto;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    padding: 20px;
}

/* This attempts to resize the background image to the size of its parent div */
#game {
    min-height: 849px;
    top: 0;
    left: 0;
    background: url(./background.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

